DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=myappdb
DB_PORT=3306

CRAWLER_USER_AGENT=kkiri-kkiri-crawler/1.0 (+https://github.com/C4t4ddict/kkiri-kkiri)
CRAWLER_REQUEST_DELAY_MS=1000
CRAWLER_TIMEOUT_MS=15000
CRAWLER_RETRIES=3
CRAWLER_RESPECT_ROBOTS=true
CRAWLER_PAGES=1
CRAWLER_LIMIT=20
